<a href="/data">BACK</a>
<a href="/">HOME</a>
<h1>{{title}}</h1>

    {{#each itemSelect }}
        <section class="comments">
            <h3>
                <br><div>Title: {{this.title}} </div>
                <div>Content: {{this.content}} </div>
                <div>Author: {{this.author}} </div>
            </h3>
                <form action="/comments/:{{this._id}}" method="post">
                    <input type="text" id="newComment" name="newComment">
                    <button id="addComBtn" name="addComBtn" value={{this._id}}>Add Comment</button>
                </form><br>
            <article>Comments: <br>
                <div><ul>
                    {{#each this.comment }}
                        <li>{{this}}</li>
                    {{/each}}
                </ul></div>
            </article>
        </section>
    {{/each}}
