<a href="/">HOME</a>
<a href="/comments">Comments</a>
<h1>{{title}}</h1>

    {{#each itemSelect }}
        <section class="retData">
            <h3>Retrieved Data</h3>
                <br><div>Title: {{this.title}} </div>
                <div>Content: {{this.content}} </div>
                <div>Author: {{this.author}} </div>
                <a href="/comments/{{this._id}}">Comment</a><br><br><br>
            <article>Comments: <br>
                <div><ul>
                    {{#each this.comment }}
                        <li>{{this}}</li>
                    {{/each}}
                </ul></div>
            </article>
        </section>
    {{/each}}
