<a href="/">HOME</a>
<a href="/comments">Comments</a>
<h1>{{title}}</h1>
<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input">
            <label for="content">Content</label>
            <input type="text" id="content" name="content">
        </div>
        <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>
<section class="retData">
    <h3>Retrieve Data</h3>
    <form action="data" method="get">
        <button id='getData'>Get Data</button>
    </form>
    <div>
        {{# each itemValues }}
            <article class="itemValue">
                <br><div><a href="/data/{{this._id}}">Title:</a> {{this.title}} </div>
                <div>Content: {{this.content}} </div>
                <div>Author: {{this.author}} </div>
                <a href="/comments/{{this._id}}">Comment</a>
                <form action="/data/:{{this._id}}/delete" method="post">
                    <button id="deleteBtn" name="deleteBtn" value={{this._id}}>Delete</button
                </form><br>
            </article>
        {{/each}}
    </div>
</section>
